<div class="main">
  <header class="header">
    <ul class="menu" #menuLeft>
      <li class="menu__item"><a class="menu__link">Home</a></li>
      <li class="menu__item"><a class="menu__link">Donate</a></li>
      <li class="menu__item"><a class="menu__link">Benefits</a></li>
    </ul>
    <ul class="menu menu-right" #menuRight>
      <li class="menu__item"><a class="menu__link">Profile</a></li>
      <li class="menu__item"><a class="menu__link">Logout</a></li>
    </ul>
  </header>

  <div class="first-section" *ngIf="user$ | async as user">
    <div class="info">
      <h1 class="heading-1">Hello {{ user.name }}!</h1>
      <p class="paragraph">Your email: {{ user.email }}</p>
      <a class="btn btn--start">Get Started</a>
    </div>
    <div class="visuals">
      <div class="image-container">
        <img #imageFirst [src]="user.avatar" alt="">
      </div>
    </div>
  </div>
</div>
